# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Dependency directories
node_modules/
bower_components/

# Build output
build/
dist/

# System files
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.csproj
